* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: gainsboro; /* fallback color */
  color: #dde2e1;
}
:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Advent Pro", sans-serif;
  /* font-family: "Arsenal", sans-serif; */
  font-family: "Athiti", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Signika", sans-serif; */
  /* font-family: "Suranna", serif; */
  /* font-family: "Varela Round", sans-serif; */
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(#115a54 10%, #002c28);
  /* width: 100vw; */
  /* height: 400vh; */
  /* overflow-y: hidden; */
  /* display: flex;
  flex-direction: column; */
  /* background-color: #002c28; */
}
/* ---------------------------------------------- */
/* shared properties from all areas */
/* all centered flexes */
.welcome,
.navigation-list,
section,
.intro-projects,
.submarine,
.submarine :nth-child(n),
.proj-img,
.icon-container,
form ul,
form ul li,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid blue; */
}
/* ---------------------------------------------- */
/* general setup */
/* sections */
section {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  padding: 3rem;
  position: relative;
}
h3 {
  font-size: 3rem;
  margin: 1rem 0;
}
h3 > p {
  font-size: 2rem;
}
h4 {
  font-size: 2rem;
}
/* ---------------------------------------------- */
/* welcome page */
/* top half welcome page*/
header {
  height: 50vh;
  width: 100vw;
  /* background-color: #006e65; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 3rem;
  position: relative;
  background-color: #002c28;
  background: radial-gradient(circle, darkmagenta, indigo);
  /* transform-origin: top right; */
  z-index: -3;
}
/* welcome text */
h1,
h2 {
  /* z-index: 2; */
  color: #001816;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.7rem;
}
.welcome {
  z-index: 1;
  /* background-color: #99a3a2; */
  background-color: #cce2e0;
  opacity: 0.8;
  border-radius: 1rem;
  width: 30vw;
  height: 28vh;
  padding: 0 2rem 2rem 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* transform: translateX(-20vw);
  transition: 2s linear reverse; */
  animation: fly-in-from-left 4s ease-in-out;
}
@keyframes fly-in-from-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
/* wave behind */
header::before {
  /* background-color: #00635b; */
  background: linear-gradient(#00635b 70%, #115a54);
  content: "";
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  animation: water 11s ease-in-out infinite;
}
@keyframes water {
  0%,
  100% {
    clip-path: polygon(
      0 65%,
      6% 70%,
      15% 71%,
      26% 67%,
      33% 72%,
      43% 68%,
      50% 58%,
      58% 53%,
      66% 52%,
      74% 56%,
      78% 57%,
      81% 58%,
      90% 56%,
      95% 51%,
      100% 46%,
      100% 100%,
      -2% 100%
    );
  }
  30% {
    clip-path: polygon(
      0% 60%,
      6% 65%,
      13% 60%,
      20% 56%,
      28% 50%,
      37% 50%,
      46% 51%,
      51% 57%,
      56% 61%,
      59% 68%,
      65% 71%,
      73% 72%,
      80% 70%,
      89% 66%,
      100% 62%,
      100% 100%,
      -2% 100%
    );
  }
  70% {
    clip-path: polygon(
      0% 60%,
      7% 65%,
      15% 66%,
      20% 67%,
      28% 71%,
      37% 70%,
      47% 69%,
      55% 65%,
      61% 59%,
      66% 53%,
      73% 49%,
      81% 50%,
      89% 56%,
      94% 63%,
      100% 68%,
      100% 100%,
      -30% 140%
    );
  }
}
/* wave front */
header::after {
  /* background-color: #1a7d74; */
  background: linear-gradient(#1a7d74 70%, #115a54);
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  animation: water 6s ease-in-out infinite;
}
@keyframes water {
  0%,
  100% {
    clip-path: polygon(
      0% 68%,
      7% 65%,
      15% 66%,
      20% 67%,
      28% 71%,
      37% 70%,
      47% 69%,
      55% 65%,
      61% 59%,
      66% 53%,
      73% 49%,
      81% 50%,
      89% 56%,
      94% 63%,
      100% 68%,
      100% 100%,
      -30% 140%
    );
  }
  30% {
    clip-path: polygon(
      0% 67%,
      6% 65%,
      13% 60%,
      20% 56%,
      28% 50%,
      37% 50%,
      46% 51%,
      51% 57%,
      56% 61%,
      59% 68%,
      65% 71%,
      73% 72%,
      80% 70%,
      89% 66%,
      100% 62%,
      100% 100%,
      -2% 100%
    );
  }
  60% {
    clip-path: polygon(
      0 65%,
      6% 70%,
      15% 71%,
      26% 67%,
      33% 72%,
      43% 68%,
      50% 58%,
      58% 53%,
      66% 52%,
      74% 56%,
      78% 57%,
      81% 58%,
      90% 56%,
      95% 51%,
      100% 46%,
      100% 100%,
      -2% 100%
    );
  }
}

/* ---------------------------------------------- */
/* bottom half welcome page (navigation) */
nav {
  /* border: 1px solid black; */
  height: 50vh;
  width: 100vw;
}
.navigation-list {
  /* border: 1px solid skyblue; */
  height: inherit;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: #1a7d74; */
  /* background-color: #115a54; */
}
/* each navigation piece */
nav ul li {
  /* border: 1px solid green; */
  list-style: none;
  padding: 1rem 3rem;
  font-size: 2rem;
}
nav ul li:nth-child(1) {
  background: linear-gradient(130deg, #80b7b2, #1a7d74);
  height: 10vh;
  border-top-left-radius: 10rem;
  width: 35vw;
}
nav ul li:nth-child(2) {
  background-color: #006e65;
  background: linear-gradient(130deg, #80b7b2, #006e65);
  height: 10vh;
  border-top-left-radius: 10rem;
  width: 55vw;
}
nav ul li:nth-child(3) {
  background-color: #00635b;
  background: linear-gradient(130deg, #66a8a3, #00635b);
  height: 10vh;
  border-top-left-radius: 10rem;
  width: 75vw;
}
nav ul li:last-child {
  background: linear-gradient(130deg, #4d9a93, #005851);
  /* background: linear-gradient(#e66465, #9198e5); */
  border-top-left-radius: 10rem;
  height: 90%;
  width: 95vw;
  display: block;
}
/* reaction of navigation on hover */
nav ul li:nth-child(1):hover {
  height: 500%;
  transition: 1.7s ease-in-out;
}
nav ul li:nth-child(2):hover {
  height: 500%;
  transition: 1.7s ease-in-out;
}
/* nav ul li:nth-child(2):hover + nav ul li:nth-child(3 + 2) {
  height: 10%;
} */
nav ul li:nth-child(3):hover {
  height: 500%;
  transition: 1.7s ease-in-out;
}
nav ul li:last-child:hover {
  height: 500%;
  transition: 1.7s ease-in-out;
}
nav li > a {
  display: inline-block;
  border: 1px solid plum;
  text-decoration: none;
  text-align: end;
  padding: 1rem;
  height: 100%;
  width: 100%;
  color: #cce2e0;
  font-weight: bold;
}
/* home nav */
nav ul li:first-child {
  display: none;
}
/* contact me nav */
.social-media-nav a {
  /* z-index: 4; */
  display: inline-block;
  border: darkorange 2px solid;
}

/* ---------------------------------------------- */
/* about me section */
/* ---------------------------------------------- */
/* my work/projects section */
/* intro to my work */
.intro-projects {
  width: 90%;
  height: 7vh;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}
/* submarine part with presented projects */
.submarine {
  /* background-color: darkblue; */
  width: 90vw;
  height: 50vh;
  justify-content: space-around;
  /* align-items: flex-start; */
  padding-top: 3rem;
}
.submarine :nth-child(n) {
  /* border: darkkhaki 2px solid; */
  width: 15vw;
  height: 20vh;
  flex-direction: column;
}
.proj-img {
  /* border: darkturquoise 1px dashed; */
  /* width: 20rem; */
  height: 10rem;
  /* overflow: hidden; */
}
.proj-img img {
  border: grey double 0.5rem;
  border-radius: 3rem;
  margin-bottom: 1rem;
  box-shadow: 1rem 0rem 1rem #002c28;
}
.proj-img:hover img {
  box-shadow: 1.4rem 0rem 2rem rgb(41, 41, 41);
}
.proj-explanation {
  /* border: pink 2px solid; */
  padding: 0.5rem;
  align-self: flex-end;
}
/* .proj-explanation p {
  border: violet 2px solid;
} */
/* cinese zodiac app specific settings */
.chin-zodiac-img {
  width: auto;
  height: 10rem;
}
/* youtube app specific settings */
.youtube-app-img {
  width: auto;
  height: 10rem;
}
/* mobile app specific settings */
.mobile-app-img {
  width: auto;
  height: 10rem;
}
/* hamburger menus specific settings */

/* ---------------------------------------------- */
/* contact section */
.contact-section {
  padding: 3rem 0 0 0;
  /* background-color: chartreuse; */
  position: relative;
  border: rgb(25, 209, 209) 4px solid;
  display: flex;
}
/* social media and email part */
.icon-container {
  /* flex-direction: row; */
  justify-content: space-evenly;
  width: 30vw;
  background-color: darkmagenta;
  margin: 2rem 0;
}
.icon {
  font-size: 2rem;
}
/* form part */
form ul {
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  /* border: green 3px solid; */
}
form ul li {
  /* height: 28vh; */
  width: 40vw;
  margin-top: 1em;
  /* justify-content: space-around; */
  /* border: hotpink 2px dotted; */
}
form div {
  height: auto;
  width: 100%;
  /* background-color: darkgray; */
  /* border: darkmagenta 1px solid; */
  /* margin: 1rem; */
}

/* name input area */
.first-last-name,
.firstname,
.lastname {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.lastname-label {
  margin-left: 0.4rem;
}
input {
  font-family: inherit;
  font-size: 1rem;
  padding-left: 0.5rem;
}
input[type="text"] {
  height: 2rem;
  width: 15vw;
}
/* email input area */
input[type="email"] {
  height: 2rem;
  width: 35vw;
}
/* text input area */
textarea {
  height: 12rem;
  width: 35vw;
  font-family: inherit;
  font-size: 1rem;
  padding-left: 0.5rem;
}
/* send button */
form ul li:last-child,
.button-container {
  text-align: end;
}
button {
  width: 5rem;
  height: 3rem;
  background-color: darkmagenta;
  border: none;
  cursor: pointer;
  box-shadow: 0rem 0rem 1rem black;
}
/* button style */

/* ......................... */
/* footer */
footer {
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  border: indigo 1px solid;
  align-self: flex-end;
  display: flex;
  justify-content: flex-ends;
  align-items: flex-end;
}
th {
  width: calc(100vw / 4);
  border: chartreuse 1px solid;
}
/* ---------------------------------------------- */
/* bubbles */
.bubble-container {
  width: 100%;
  height: 400vh;
  /* background-color: blue; */
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  top: 0;
  left: 0;
}
.bubbles {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: thistle;
  position: absolute;
  bottom: 0;
  opacity: 0.1;
  animation: bubble-movement 10s ease-in-out infinite;
}
@keyframes bubble-movement {
  from {
    bottom: -2%;
  }
  to {
    bottom: 90%;
    opacity: 0;
  }
}
/* settings for all bubbles */
.bubbles:nth-child(1) {
  width: 2rem;
  height: 2rem;
  opacity: 0.4;
  left: 10%;
  animation-duration: 10s;
}
.bubbles:nth-child(2) {
  width: 1rem;
  height: 1rem;
  opacity: 0.3;
  left: 20%;
  animation-delay: 3s;
  animation-duration: 9s;
}
.bubbles:nth-child(3) {
  width: 3rem;
  height: 3rem;
  opacity: 0.4;
  left: 30%;
  animation-delay: 1s;
  animation-duration: 12s;
}
.bubbles:nth-child(4) {
  width: 1rem;
  height: 1rem;
  opacity: 0.3;
  left: 50%;
  animation-duration: 13s;
}
.bubbles:nth-child(5) {
  width: 3rem;
  height: 3rem;
  opacity: 0.1;
  left: 60%;
  animation-delay: 4s;
  animation-duration: 8s;
}
.bubbles:nth-child(6) {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  left: 80%;
  animation-delay: 2.5s;
  animation-duration: 12s;
}
.bubbles:nth-child(7) {
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
  left: 90%;
  animation-duration: 9s;
}
.bubbles:nth-child(8) {
  width: 4rem;
  height: 4rem;
  opacity: 0.4;
  right: 5%;
  animation-delay: 1s;
  animation-duration: 10s;
}
.bubbles:nth-child(9) {
  width: 1rem;
  height: 1rem;
  opacity: 0.4;
  right: 30%;
  animation-delay: 4.5s;
  animation-duration: 12s;
}
.bubbles:nth-child(10) {
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
  right: 70%;
  animation-delay: 6.5s;
  animation-duration: 8s;
}
/* back to top button */
.back {
  height: auto;
  width: 1.4rem;
  /* margin-top: 120vh; */
  border: yellow 2px solid;
  position: sticky;
  /* justify-content: end; */
  /* align-self: flex-end; */
  right: 0;
  bottom: 0;
  float: right;
}
.back-top {
  border: cyan 2px solid;
}
