* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  /* color: black; */
}

/* ---------------------------------------------- */
/* general setup */
section {
  flex-direction: column;
}
/* shared properties */
/* all the flexes */
header,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* sections */
section {
  height: 100vh;
  width: 100vw;
}

/* ---------------------------------------------- */
/* welcome page */
/* top half welcome page*/
header {
  border: 3px solid blue;
  height: 50vh;
  width: 100vw;
}
h1,
h2 {
  border: 2px solid orange;
}
/* ---------------------------------------------- */
/* bottom half welcome page (navigation) */
nav {
  border: 1px solid black;
  height: 50vh;
  width: 100vw;
}
ul {
  border: 1px solid skyblue;
  height: inherit;
  width: 100vw;
}
li {
  border: 1px solid green;
  max-height: 5vh;
  min-height: 1rem;
  height: 10vh;
  width: 100vw;
  list-style: none;
  background-color: lightblue;
}
.welcome-home {
  height: 20vh;
  width: 100vw;
}
a {
  border: 1px solid plum;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: black;
}
/* ---------------------------------------------- */
/* about me section */

/* ---------------------------------------------- */
/* my work/projects section */

/* ---------------------------------------------- */
/* contact section */
#contact {
}
