* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  /* color: black; */
}

/* ---------------------------------------------- */
/* shared properties from all areas */
/* all centered flexes */
header,
section,
form ul,
form ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
}
/* ---------------------------------------------- */
/* general setup */
/* sections */
section {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

/* ---------------------------------------------- */
/* welcome page */
/* top half welcome page*/
header {
  height: 50vh;
  width: 100vw;
}
h1,
h2 {
  border: 2px solid orange;
}
/* ---------------------------------------------- */
/* bottom half welcome page (navigation) */
nav {
  border: 1px solid black;
  height: 50vh;
  width: 100vw;
}
nav ul {
  border: 1px solid skyblue;
  height: inherit;
  width: 100vw;
}
nav ul li {
  border: 1px solid green;
  /* max-height: 5vh;
  min-height: 1rem; */
  height: 10vh;
  width: 100vw;
  list-style: none;
  background-color: lightblue;
}
.welcome-home {
  height: 20vh;
  width: 100vw;
}
a {
  border: 1px solid plum;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: black;
}
/* ---------------------------------------------- */
/* about me section */

/* ---------------------------------------------- */
/* my work/projects section */

/* ---------------------------------------------- */
/* contact section */
form ul {
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  border: green 3px solid;
}
form ul li {
  /* height: 28vh; */
  width: 40vw;
  margin-top: 1em;
  /* justify-content: space-around; */
  border: hotpink 2px dotted;
}
form div {
  height: auto;
  width: 100%;
  /* background-color: darkgray; */
  border: darkmagenta 1px solid;
  /* margin: 1rem; */
}

/* name input area */
.fullname-container {
}
.first-last-name,
.firstname,
.lastname {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
input[type="text"] {
  height: 2rem;
  width: 10vw;
}
/* email input area */
input[type="email"] {
  height: 2rem;
  width: 10vw;
}
/* text input area */
textarea {
  height: 10rem;
  width: 20vw;
}
form ul li:last-child,
.button-container {
  text-align: end;
}

/* button style */

/* ......................... */
/* footer */
footer {
  background-color: cornflowerblue;
  width: 100%;
  height: 10vh;
}
